<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Board SQL -->
<mapper namespace="global.sesoc.test6.mapper.BoardMapper"> 

	<!-- 게시판 등록 -->
	<select id="bList" resultType="Board">
		select 
		boardnum
		, id
		, title
		, content
		, to_char(inputdate, 'MM-DD HH24:MI') as inputdate
		, hits
		, originalfile
		, savedfile
		from board6
		order by boardnum desc
	</select>
	
	<insert id="insert" parameterType="Board">
		insert into board6 
		(boardnum
		, id
		, title
		, content
		<if test="originalfile != null and savedfile != null">
		, originalfile
		, savedfile
		</if>
		) 
		
		values (
		board6_seq.nextval
		, #{id}
		, #{title}
		, #{content}
		
		<if test="originalfile != null and savedfile != null">
		, #{originalfile}
		, #{savedfile}
		</if>
		
		) 
	</insert>
	
	<select id="readOne" resultType="Board">
		select *
		from board6
		where boardnum = #{boardnum}
	</select>
	
	<update id="hits">
		upda	te board6
		set hits = hits + 1
		where boardnum = #{boardnum}
	</update>

	<update id="update" parameterType="Board">
		update board6
		set title = #{title}
		, content = #{content}
		where boardnum = #{boardnum}
	</update>
	
	<delete id="delete">
		delete from board6
		where boardnum = #{boardnum}
	</delete>
	
		
</mapper>
